[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = http://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/typescript"]
	path = vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/eco"]
	path = vim/bundle/eco
	url = https://github.com/AndrewRadev/vim-eco.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/bundle/vaxe"]
	path = vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule "vim/bundle/vimpager"]
	path = vim/bundle/vimpager
	url = https://github.com/rkitover/vimpager.git
