[submodule "zsh/bundle/zsh-autosuggestions"]
	path = zsh/bundle/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/bundle/zsh-syntax-highlighting"]
	path = zsh/bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "bat/themes/rainglow"]
	path = bat/themes/rainglow
	url = https://github.com/rainglow/sublime
[submodule "vim/pack/treesitter/opt/treesitter"]
	path = vim/pack/treesitter/opt/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/pack/lspconfig/opt/lspconfig"]
	path = vim/pack/lspconfig/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "bat/themes/catppuccin"]
	path = bat/themes/catppuccin
	url = https://github.com/catppuccin/bat
[submodule "delta/themes/catppuccin"]
	path = delta/themes/catppuccin
	url = https://github.com/catppuccin/delta
[submodule "zsh/bundle/catppuccin-syntax-highlighting"]
	path = zsh/bundle/catppuccin-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting
[submodule "eza/eza-community-themes"]
	path = eza/eza-community-themes
	url = https://github.com/eza-community/eza-themes
[submodule "vim/pack/theme/opt/catppuccin"]
	path = vim/pack/theme/opt/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "vim/pack/tool/start/vindent"]
	path = vim/pack/tool/start/vindent
	url = https://github.com/jessekelighine/vindent.vim
[submodule "vim/pack/tool/start/diffview"]
	path = vim/pack/tool/start/diffview
	url = https://github.com/sindrets/diffview.nvim
[submodule "vim/pack/tool/start/fugitive"]
	path = vim/pack/tool/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/tool/start/lualine"]
	path = vim/pack/tool/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "vim/pack/tool/start/devicons"]
	path = vim/pack/tool/start/devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "vim/pack/lang/start/xonsh"]
	path = vim/pack/lang/start/xonsh
	url = https://github.com/meatballs/vim-xonsh
